body{
    background: #e9e9e8 center 60% fixed;
    background-size: contain;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a{
 text-decoration: none;
  color: inherit;
}

a:hover {
color: inherit;
}

.card{
    border-radius: 2%;
}


.no-bullet-list {
  list-style-type: none; /* Removes the list-style/bullets */
  padding: 0; /* Removes the default padding */
  margin: 0; /* Removes the default margin */
}

/* Mobile devices */
.custom-padding {
    padding-top: 80px;  /* adjust this value for mobile screens */
}


/* Even Smaller devices (tablets, 576px and up) */
@media (min-width: 450px) {
    .custom-padding {
        padding-top: 90px;  /* adjust this value for small screens */
    }
}


/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {
    .custom-padding {
        padding-top: 90px;  /* adjust this value for small screens */
    }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {
    .custom-padding {
        padding-top: 100px;  /* adjust this value for medium screens */
    }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
    .custom-padding {
        padding-top: 110px;  /* adjust this value for large screens */
    }
}

/* Extra large devices (extra large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .custom-padding {
        padding-top: 120px;  /* adjust this value for extra large screens */
    }
}


.card-body{
    display: flex;
    justify-content: center;
}

.card-image{
    height:7rem
}

.card-img-top{
      width: 100%;
      height: 100%;
      object-fit: cover;
}


.col-12,col-sm-6,col-md-4,col-lg-3,col-xl-2{
    margin-top: 2rem;
}


.gameList{
    display: flex;
    justify-content: center;
}



.btn-dark{
width: 100%;
}


.game-interest-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

.game-additional-info{
border-left: 1px solid black;
}
.game-info-font{
    font-family: 'Noto Sans', sans-serif;
     font-weight: bold;
}
.platform-icons
{
height: 40px;
}

.img-fluid{
height:100%;
}
 .card-title{
 color: wheat
 }

